[submodule "utils/BADAss"]
	path = utils/BADAss
	url = https://github.com/jorgehog/BADAss
[submodule "utils/lammpswriter"]
	path = utils/lammpswriter
	url = https://github.com/jorgehog/lammpswriter
[submodule "utils/DCViz"]
	path = utils/DCViz
	url = https://github.com/jorgehog/DCViz
